* {
  margin: 0px;
  padding: 0px;
}

.title {
  margin-top: 30px;
  font-size: 40px;
  font-family: sans-serif;
  text-align: center;
  color: #333;
}

.detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  text-align: left;
}

.detail .name {
  font-size: 40px;
  padding: 40px 0 0 0;
  margin: 0 0 10px 0;
}
.detail .price {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 20px;
}
.detail .buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

}

.addCart,
.checkOut{
  transition: all 0.3s ease;
}
 .addCart:hover,
 .checkOut:hover {
  transform: scale(1.05); /* Scale up slightly on hover */
  background-color: #e0e0e0; /* Darken background color */
}
.detail .buttons button {
  background-color: #eee;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  font-family: Poppins;
  font-size: large;
}
.detail .buttons svg {
  width: 15px;
}
.detail .buttons span {
  background-color: #fdb344;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 20px;
}
.detail .buttons button:nth-child(2) {
  background-color: #f2921d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  box-shadow: 0 10px 20px #2f2f2f77;
}
.detail .description {
  padding: 10px;
  font-weight: 300;
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.detail .image img {
  width: 50%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: block;
  margin: auto;
  transition: all 0.3s ease;
}

.image img:hover {
  transform: scale(1.05); /* Scale up slightly on hover */
  background-color: #e0e0e0; /* Darken background color */
}
@media only screen and (max-width: 1120px) {
  .detail .image img {
    margin-top: 55px;
  }
}
@media only screen and (max-width: 992px) {
  .listProduct {
    grid-template-columns: repeat(3, 1fr);
  }
  .detail {
    grid-template-columns: 40% 1fr;
  }
  .detail .image img {
    height: 350px;
    width: 250px;
    margin-top: 70px;
  }
}

/* mobile */
@media only screen and (max-width: 768px) {
  .listProduct {
    grid-template-columns: repeat(2, 1fr);
  }
  .detail {
    text-align: center;
    grid-template-columns: 1fr;
  }
  .detail .image img {
    width: unset;
    height: 40vh;
  }
  .detail .name {
    font-size: x-large;
    margin: 0;
  }
  .detail .buttons button {
    font-size: small;
  }
  .detail .buttons {
    justify-content: center;
  }
}
