@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

.top-products {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
}
.filter {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
}
.btn {
  text-transform: capitalize !important;
}
