<footer class="bg-dark py-5">
  <div class="container">
    <div class="row text-white g-4">
      <div class="col-md-4 col-lg-3">
        <a class="text-uppercase text-decoration-none text-white brand" href="">E-commerce</a>
        <p class="text-white mt-3"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, a possimus numquam
          ducimus cum rerum odit. Debitis mollitia aut iure! Ullam, quas? </p>
      </div>

      <div class="col-md-6 col-lg-3">
        <h5 class="fw-light">Links</h5>
        <ul class="list-unstyled">
          <li class="my-3">
            <a href="" class="text-white text-decoration-none">
              <i class="bi bi-caret-right-fill me-1"></i>Home</a>
          </li>
          <li class="my-3">
            <a href="" class="text-white text-decoration-none">
              <i class="bi bi-caret-right-fill me-1"></i>Shop</a>
          </li>
          <li class="my-3">
            <a href="" class="text-white text-decoration-none">
              <i class="bi bi-caret-right-fill me-1"></i>Pages</a>
          </li>
          <li class="my-3">
            <a href="" class="text-white text-decoration-none">
              <i class="bi bi-caret-right-fill me-1"></i>Bloges</a>
          </li>
          <li class="my-3">
            <a href="" class="text-white text-decoration-none">
              <i class="bi bi-caret-right-fill me-1"></i>About Us</a>
          </li>
        </ul>
      </div>

      <div class="col-md-6 col-lg-3">
        <h5 class="fw-light mb-3">Contact Us</h5>
        <div class="d-felx justify-content-start align-items-start my-2">

          <span class=""><i class="bi bi-geo-alt me-1"></i></span>
          <span class="fw-light ">New York</span>
        </div>

        <div class="d-felx justify-content-start align-items-start my-2">

          <span class=""><i class="bi bi-envelope me-1"></i></span>
          <span class="fw-light">aya.m.nasar.gmail.com</span>
        </div>

        <div class="d-felx justify-content-start align-items-start my-2">

          <span class=""><i class="bi bi-phone me-1"></i></span>
          <span class="fw-light">+20 1101253941</span>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <h5 class="fw-light mb-3">Follow Us</h5>
        <div>
          <ul class="list-unstyled d-flex">
            <li>
              <a href="#" class="text-white text-decoration-none fs-4 me-4">
              <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#" class="text-white text-decoration-none  fs-4 me-4">
                <i class="bi bi-twitter-x"></i>
              </a>
            </li>
            <li>
              <a href="#" class="text-white text-decoration-none  fs-4 me-4">
                <i class="bi bi-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#" class="text-white text-decoration-none  fs-4 me-4">
              <i class="bi bi-pinterest"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</footer>
